<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
    <br/>
    <label for="age">age: </label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
    <br/>
    <label for="email">email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
    <br/>
    <label for="address">address: </label>
    <input type="text" th:field="*{address}" id="address">
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address error</div>
    <br/>
    <input type="submit" value="done">
</form>
</body>
</html>